@charset "UTF-8";
.container {
    width: 1170px;
    margin: 0 auto;
    background: #212121;
    display: flex;
}

.names {
    width: 30%;
    height: 500px;
    background: #212121;
    overflow: auto;
    position: relative;
    border-right: 1px solid rgb(147, 147, 147);
    /* search bar */
    .search {
        margin-top: 10px;
        input {
            display: block;
            width: 80%;
            height: 30px;
            margin: 0 auto;
            border-radius: 30px;
            border: none;
            background:rgb(84, 84, 84);
            padding-left: 20px;
            outline: none;
            color: #fff;
        }
    }
    .wrapper {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        /* list name */
        .box_name {
            height: 50px;
            border-bottom: 1px solid rgb(147, 147, 147);
            padding: 10px;
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover {
                background: rgb(159, 159, 159);
            }
            .user {
                color: #fff;
                width: 85%;
                .name {
                    font-size: 22px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    > span {
                        font-size: 14px;
                    }
                } 
                > span {
                    display: block;
                    margin-top: 6px;
                    img {
                        width: 10px;
                        height: auto;
                    }
                }
            }
        }
        /* user image */
        .icon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #fff;
            margin-right: 10px;
        }
    }
}
/* conversation */
.chat {
    width: 70%;
    height: 500px;
    background-image: url('../img/dark_theme.jpeg');
    position: relative;
    .text_chat {
        width: 90%;
        margin: 20px auto;
        &:after {
            display: table;
            content: '';
            clear: both;
        }
        &:before {
            content: '';
            display: inline-block;
            position: relative;
            top: 7px;
            left: -22px;
            border-bottom: 20px solid transparent;
            border-right: 20px solid transparent;
            border-left: 20px solid #2e2e2e;
            transform: rotate(-135deg);
        }
        .text {
            width: 30%;
            background: #2e2e2e;
            border-radius: 10px;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .text_user {
                padding: 10px;
                font-size: 18px;
            }
            .time {
                margin: 5px;
                font-size: 14px;
                span {
                    text-transform: uppercase;
                    font-size: 10px;
                }
            }
        }
    }
    /* sended massage */
    .my_answer {
        float: right;
        .text {
            width: 100%;
            background: rgb(38, 87, 89);
            border-radius: 10px;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        .text_chat {
            margin: 20px auto;
            width: 100%;
            &:before {
                content: '';
                display: inline-block;
                position: relative;
                top: 7px;
                left: 200px;
                border-bottom: 20px solid transparent;
                border-right: 20px solid transparent;
                border-left: 20px solid rgb(38, 87, 89);
                transform: rotate(-135deg);
            }
        }
        img {
            width: 12px;
        }
    }
}
/* write here the answer */
.write_text {
    width: 100%;
    height: 60px;
    background: #000;
    position: absolute;
    bottom: 0;
    .block {
        width: 90%;
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .emoticons {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: red;
        }
        .allega {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: blue;
        }
        /* text */
        input {
            width: 60%;
            border-radius: 30px;
            margin-right: 20px;
            padding: 10px;
            outline: none;
            background: #212121;
            border: none;
            color: white;
        }
        .registra {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #fff;
        }
    }
}