@charset "UTF-8";
/* scss document */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  padding: 0;
  margin: 0;
}

::-moz-selection {
  background: #fff;
  color: cornflowerblue;
}

::selection {
  background: #fff;
  color: cornflowerblue;
}

h1 {
  text-align: center;
}

body {
  background: #ffcb83;
}

.wrapper {
  width: 100%;
  background: #eedec1;
  padding-top: 20px;
}

.wrapper .logo {
  width: 100%;
  margin: 20px 0;
  padding-left: 10px;
}

.wrapper .logo .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  float: left;
  position: relative;
}

.wrapper .logo .img span {
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 30px;
  color: red;
}

.wrapper .logo ul {
  float: left;
  margin: 20px 20px;
}

.wrapper .logo ul li {
  list-style-type: none;
  float: left;
  padding-right: 20px;
}

.wrapper .logo ul a {
  text-decoration: none;
}

nav {
  width: 25%;
  height: 72vh;
  float: left;
  background: #ecbf6b;
}

nav ul {
  padding: 50px;
}

nav ul li {
  list-style: upper-roman;
  padding-bottom: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

.wrapper::after, footer::after, .center::after, .info::after, .logo::after {
  content: '';
  display: table;
  clear: both;
}

article {
  width: 74%;
  float: right;
  margin: 0 auto;
}

article .info {
  width: 100%;
  margin: 0 auto;
}

article .info .blocks {
  float: left;
  width: calc(100% / 4 - 20px);
  margin: 20px 20px 0 0;
  padding: 20px 0;
  background: #ecebea;
  border-radius: 10px;
}

article .info .blocks .season, article .info .blocks .gradi, article .info .blocks .city {
  padding-bottom: 5px;
}

article .info .blocks .season {
  font-size: 20px;
  padding-left: 10px;
}

article .info .blocks .season:after {
  content: '▼';
  display: block;
  position: relative;
  top: -18px;
  left: 200px;
  font-size: 15px;
  color: gray;
  cursor: pointer;
}

article .info .blocks .temperature {
  font-size: 25px;
  text-align: center;
}

article .info .blocks .gradi span {
  display: block;
  font-size: 15px;
  text-align: center;
  color: #a7a7a7;
}

article .info .blocks .city {
  margin-top: 10px;
  text-align: center;
}

article .info .blocks:nth-child(1) .temperature {
  color: #8407be;
}

article .info .blocks:nth-child(2) .temperature {
  color: #2cbe07;
}

article .info .blocks:nth-child(3) .temperature {
  color: #fd8585;
}

article .info .blocks:nth-child(4) .temperature {
  color: #858dfd;
}

article .text {
  width: 100%;
}

article .text p {
  width: 80%;
  text-align: justify;
  margin: 10px 0;
  color: #fff;
  padding-top: 20px;
}

article .text p span {
  display: block;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

footer {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #96763c;
  color: #fff;
}

footer .center {
  width: 90%;
  margin: 0 auto;
}

footer .content {
  float: left;
  width: calc(100% / 4);
  padding-right: 20px;
}

footer .content:before {
  content: '';
  display: block;
  width: 2px;
  height: 15px;
  background: #fff;
  position: relative;
  top: 18px;
  left: -5px;
}
/*# sourceMappingURL=example.css.map */