@charset "UTF-8";
/* scss document */
/* general custom */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  padding: 0;
  margin: 0;
}

/* color codes */
:root {
  --white: #fff;
  --black: #000;
  --background: #F3F3F3;
  --green: #106410;
  --shadow: rgba( 0, 0, 0, .4);
  --light_green: #008000;
  --gray: #b8b8b8;
  --blue: #0000ff;
}

/* mixin */
/* start custom website */
.clearfix {
  content: '';
  display: table;
  clear: both;
}

body {
  background: var(--background);
}

/* bg image */
.wrapper {
  width: 100%;
  padding: 20px 0;
}

/* first contain top */
header {
  width: 100%;
  /* navigation bar */
}

header .lazio {
  width: 100%;
  margin-bottom: 5px;
  padding-left: 15px;
}

header .lazio .logo {
  float: left;
  margin-right: 10px;
  border-right: 1px solid black;
  padding-right: 10px;
  /* logo sanità regionale... */
}

header .lazio .logo img {
  width: 44px;
  height: auto;
}

header .lazio .logo .text_img {
  float: right;
  margin-left: 10px;
  position: relative;
  top: -10px;
}

header .lazio .logo .text_img span:nth-child(1) {
  display: inline-block;
  font-size: 30px;
  color: var(--blue);
}

header .lazio .logo .text_img span:nth-child(2) {
  display: block;
  position: relative;
  color: var(--blue);
  font-size: 13px;
}

header .lazio .prenota {
  float: left;
  margin-top: 2px;
  font-size: 25px;
  color: var(--light_green);
}

header nav {
  background: var(--green);
  padding: 30px;
}

header nav li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
}

header nav li:after {
  display: inline-block;
  content: '';
  width: 1px;
  height: 20px;
  background: var(--white);
  position: relative;
  top: 5px;
  left: 7px;
}

header nav li:nth-child(3):after, header nav li:last-child:after {
  display: none;
}

header nav a {
  text-decoration: none;
  color: var(--white);
}

header nav li:last-child {
  float: right;
}

/* first article contain card */
article {
  /* start card custom */
  /* second contain spiegazione */
}

article .image .bg {
  width: 100%;
  height: 350px;
  background-image: url("../img/dna.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 80%;
}

article .main {
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: -260px;
}

article .main h1 {
  font-size: 35px;
  color: var(--white);
  text-transform: capitalize;
}

article .main > p {
  font-weight: 200;
  color: var(--white);
  font-size: 30px;
  margin-top: 10px;
}

article .card_contain {
  width: 100%;
}

article .card {
  width: calc(100% / 3 - 14px);
  margin-right: 20px;
  margin-top: 30px;
  float: left;
  border-radius: 10px;
  background: var(--white);
  -webkit-box-shadow: 0 0 10px var(--shadow);
          box-shadow: 0 0 10px var(--shadow);
  cursor: pointer;
}

article .card .contain {
  margin: 20px 40px;
}

article .card .title, article .card .img_card {
  float: left;
}

article .card .img_card {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

article .card .title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

article .card .title .sub_title {
  display: block;
}

article .card p {
  width: 90%;
  margin: 0 auto;
}

article .card > span {
  display: block;
  width: 90%;
  margin: 40px auto 20px;
  color: var(--light_green);
}

article .card > span::after {
  content: '➤';
  display: inline-block;
  position: relative;
  top: 2px;
  left: 8px;
  font-size: 16px;
  color: var(--light_green);
}

article .card:nth-child(2) .title {
  margin-top: 0;
}

article .card:nth-child(3) .title {
  margin-top: 0;
}

article .card:nth-child(2) .img_card img {
  padding-top: 8px;
}

article .card:nth-child(3) {
  margin-right: 0;
}

article .explain {
  width: 100%;
  margin-top: 40px;
}

article .explain .option {
  text-transform: capitalize;
  padding: 20px;
}

article .explain .option h2 {
  font-size: 30px;
  color: var(--light_green);
}

article .explain .option ul {
  padding: 10px 20px;
}

article .explain .option ul li {
  color: var(--green);
  font-size: 16px;
  list-style-type: none;
}

article .explain .option ul li ul li {
  color: var(--black);
}

article .explain .option ul li ul li::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 2px;
  background-color: var(--black);
  position: relative;
  top: -4px;
  left: -3px;
}

article .explain .option a {
  color: var(--light_green);
  font-size: 15px;
}

article .explain .option ::marker {
  color: var(--light_green);
}

article .explain .option:nth-child(odd) {
  background-color: var(--white);
}

article .explain .option:nth-child(2) p {
  margin-top: 20px;
}

/* custom img ultima card */
.card_contain .card:nth-child(3) .img_card img {
  width: 40px;
}

@media screen and (max-width: 768px) {
  .card_contain .card {
    display: block;
    width: 100%;
  }
}
/*# sourceMappingURL=lazio.css.map */