@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after, *::before {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: palevioletred;
}

h1::after, h1::before {
  content: '♥';
  width: 5px;
  height: 5px;
}

.wrapper {
  margin: 10px auto;
  width: 50%;
}

.wrapper label, .wrapper input {
  display: block;
  margin: 0 auto;
  color: palevioletred;
  border-radius: 10px;
}

.wrapper label {
  text-align: center;
  text-transform: capitalize;
}

.wrapper input {
  position: relative;
  outline: none;
  border: 1px solid pink;
  width: 130px;
}

.wrapper input::-webkit-input-placeholder {
  color: pink;
  padding-left: 10px;
}

.wrapper input:-ms-input-placeholder {
  color: pink;
  padding-left: 10px;
}

.wrapper input::-ms-input-placeholder {
  color: pink;
  padding-left: 10px;
}

.wrapper input::placeholder {
  color: pink;
  padding-left: 10px;
}

.wrapper p {
  color: pink;
  text-align: center;
  margin-top: 10px;
}
/*# sourceMappingURL=percent.css.map */