@charset 'UTF-8';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
    font-size: 12px;
}

.form-control {
    width: 20%;
    height: 20px;
    font-size: 12px;
}
label {
   font-size: 10px; 
}
button {
    width: 10%;
    font-size: 10px;
    font-size: .5rem;
}