@charset 'UTF-8';
/* css document */

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #212121;
    color: white;
}
.wrapper {
    width: 1170px;
    margin: 0 auto;
}
table {
    margin: 10px auto;
}
td, tr, th {
    border: 1px solid white;
    padding: 10px;
}
td:hover {
    background-color: rgba(255, 255, 255, 0.4);
    font-weight: bold;
}
button {
    display: block;
    background-color: black;
    border: 1px solid white;
    margin: 10px 0 10px 20px;
    color: white;
    padding: 2px;
}
button:hover {
    background: red;
}