.container {
  width: 1170px;
  margin: 0 auto;
  background: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.names {
  width: 30%;
  height: 500px;
  background: #212121;
  overflow: auto;
  position: relative;
  border-right: 1px solid #939393;
  /* search bar */
}

.names .search {
  margin-top: 10px;
}

.names .search input {
  display: block;
  width: 80%;
  height: 30px;
  margin: 0 auto;
  border-radius: 30px;
  border: none;
  background: #545454;
  padding-left: 20px;
  outline: none;
  color: #fff;
}

.names .wrapper {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  /* list name */
  /* user image */
}

.names .wrapper .box_name {
  height: 50px;
  border-bottom: 1px solid #939393;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.names .wrapper .box_name:hover {
  background: #9f9f9f;
}

.names .wrapper .box_name .user {
  color: #fff;
  width: 85%;
}

.names .wrapper .box_name .user .name {
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.names .wrapper .box_name .user .name > span {
  font-size: 14px;
}

.names .wrapper .box_name .user > span {
  display: block;
  margin-top: 6px;
}

.names .wrapper .box_name .user > span img {
  width: 10px;
  height: auto;
}

.names .wrapper .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;
}

/* conversation */
.chat {
  width: 70%;
  height: 500px;
  background-image: url("../img/dark_theme.jpeg");
  position: relative;
  /* sended massage */
}

.chat .text_chat {
  width: 90%;
  margin: 20px auto;
}

.chat .text_chat:after {
  display: table;
  content: '';
  clear: both;
}

.chat .text_chat:before {
  content: '';
  display: inline-block;
  position: relative;
  top: 7px;
  left: -22px;
  border-bottom: 20px solid transparent;
  border-right: 20px solid transparent;
  border-left: 20px solid #2e2e2e;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.chat .text_chat .text {
  width: 30%;
  background: #2e2e2e;
  border-radius: 10px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chat .text_chat .text .text_user {
  padding: 10px;
  font-size: 18px;
}

.chat .text_chat .text .time {
  margin: 5px;
  font-size: 14px;
}

.chat .text_chat .text .time span {
  text-transform: uppercase;
  font-size: 10px;
}

.chat .my_answer {
  float: right;
}

.chat .my_answer .text {
  width: 100%;
  background: #265759;
  border-radius: 10px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chat .my_answer .text_chat {
  margin: 20px auto;
  width: 100%;
}

.chat .my_answer .text_chat:before {
  content: '';
  display: inline-block;
  position: relative;
  top: 7px;
  left: 200px;
  border-bottom: 20px solid transparent;
  border-right: 20px solid transparent;
  border-left: 20px solid #265759;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.chat .my_answer img {
  width: 12px;
}

/* write here the answer */
.write_text {
  width: 100%;
  height: 60px;
  background: #000;
  position: absolute;
  bottom: 0;
}

.write_text .block {
  width: 90%;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* text */
}

.write_text .block .emoticons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: red;
}

.write_text .block .allega {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: blue;
}

.write_text .block input {
  width: 60%;
  border-radius: 30px;
  margin-right: 20px;
  padding: 10px;
  outline: none;
  background: #212121;
  border: none;
  color: white;
}

.write_text .block .registra {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
}
/*# sourceMappingURL=whatsapp.css.map */