/* css document */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  padding: 0;
  margin: 0;
}

/* custom color */
:root {
  --black: #000;
  --white: #fff;
}

::-moz-selection {
  background: var(--white);
  color: var(--black);
}

::selection {
  background: var(--white);
  color: var(--black);
}

/* start website */
body {
  background: var(--black);
  font-family: 'Roboto', sans-serif;
}

.bg {
  width: 100%;
  height: 100vh;
  opacity: 15%;
  background-image: url("../../img/dc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  display: block;
  width: 100%;
  margin: 20px auto;
  position: absolute;
  top: 0;
  left: 20px;
  float: left;
}

.logo .movie {
  width: 60px;
  cursor: pointer;
}

.logo span {
  color: var(--white);
  font-size: 30px;
}

.logo .plus {
  float: right;
  color: white;
  margin-right: 40px;
}

.logo .plus img {
  width: 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
  opacity: 50%;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 60%;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container h1 {
  text-align: center;
  color: var(--white);
  font-size: 40px;
  position: relative;
}

.container .container_cards {
  width: 100%;
  margin-top: 30px;
}

.container .container_cards .cards {
  width: calc(100% / 4 - 15px);
  margin-right: 20px;
  float: left;
  position: relative;
  cursor: pointer;
}

.container .container_cards .cards:last-child {
  margin-right: 0;
  border-radius: 15px;
}

.container .container_cards .cards:last-child .icon {
  width: 100%;
}

.container .container_cards .cards:last-child .icon img {
  padding: 25px 0;
  width: 60%;
  opacity: 50%;
}

.container .container_cards .cards:last-child:hover img {
  opacity: 100%;
}

.container .container_cards .cards:last-child .txt_img {
  margin-top: 8px;
}

.container .container_cards .cards .icon {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
}

.container .container_cards .cards .icon:hover {
  border: 2px solid var(--white);
}

.container .container_cards .cards img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.container .container_cards .cards .txt_img {
  display: block;
  text-align: center;
  color: var(--white);
  margin-top: 10px;
  text-transform: capitalize;
  opacity: 60%;
}

.container .container_cards .cards:hover .txt_img {
  font-weight: bold;
  opacity: 100%;
}

.container .button {
  margin-top: 40px;
}

.container .button button {
  display: block;
  margin: 0 auto;
  background: none;
  border: 1px solid var(--white);
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  color: var(--white);
  cursor: pointer;
}

.container .button button:hover {
  background: var(--white);
  color: var(--black);
}

/* animation single logo, h1, card, bbutton */
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@-webkit-keyframes text {
  from {
    opacity: 0;
    top: 130px;
  }
  to {
    opacity: 100%;
    top: -40px;
  }
}

@keyframes text {
  from {
    opacity: 0;
    top: 130px;
  }
  to {
    opacity: 100%;
    top: -40px;
  }
}

h1 {
  -webkit-animation-name: text;
          animation-name: text;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.logo, .plus {
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.cards:nth-child(1) {
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.cards:nth-child(2) {
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.cards:nth-child(3) {
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.cards:nth-child(4) {
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

button {
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
/*# sourceMappingURL=style.css.map */