@charset "UTF-8";
/* css document */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &::before, &::after {
        padding: 0;
        margin: 0; 
    }
}
/* custom color */
:root {
    --black: #000;
    --white: #fff;
}
::selection {
    background: var(--white);
    color: var(--black);
}

/* start website */
body {
    background: var(--black);
    font-family: 'Roboto', sans-serif;
}
.bg {
    width: 100%;
    height: 100vh;
    opacity: 15%;
    background: {
        image: url('../../img/dc.jpg');
        repeat: no-repeat;
        size: cover;
        position: center;
    }
}
.logo {
    display: block;
    width: 100%;
    margin: 20px auto;
    position: absolute;
    top: 0;
    left: 20px;
    float: left;
    .movie {
        width: 60px;
        cursor:pointer;
    }
    span {
        color: var(--white);
        font-size: 30px;
    }
    .plus {
        float: right;
        color: white;
        margin-right: 40px;
        img {
            width: 25px;
            transform: rotate(45deg);
            cursor: pointer;
            opacity: 50%;
        }
    }
}
.clearfix {
    content: '';
    display: table;
    clear: both;
}
.container {
    width: 60%;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
        text-align: center;
        color: var(--white);
        font-size: 40px;
        position: relative;
    }
    .container_cards {
        width: 100%;
        margin-top: 30px;
        .cards {
            width: calc(100% / 4 - 15px);
            margin-right: 20px;
            float: left;
            position:relative;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
                border-radius: 15px;
                .icon {
                    width: 100%;
                    img {
                        padding: 25px 0;
                        width: 60%;
                        opacity: 50%;
                    }
                }
                &:hover img{
                    opacity: 100%;
                }
                .txt_img {
                    margin-top: 8px;
                }
            }
            .icon {
                width: 100%;
                overflow: hidden;
                border-radius: 15px;
                &:hover {
                    border: 2px solid var(--white);
                }
            } 
            img {
                display: block;
                margin: 0 auto;
                width: 100%;
                height: auto;
            }
            .txt_img {
                display: block;
                text-align: center;
                color: var(--white);
                margin-top: 10px;
                text-transform: capitalize;
                opacity: 60%;
            }
            &:hover .txt_img {
                font-weight: bold;
                opacity: 100%;
            }
        }
    }
    .button {
        margin-top: 40px;
        button {
            display: block;
            margin: 0 auto;
            background: none;
            border: 1px solid var(--white);
            border-radius: 5px;
            font-size: 15px;
            padding: 10px;
            color: var(--white);
            cursor: pointer;
            &:hover {
                background: var(--white);
                color: var(--black);
            }
        }
    }    
}

/* animation single logo, h1, card, bbutton */

@keyframes opacity {
    from { opacity: 0;}
    to { opacity: 100%;}
}

@keyframes text {
    from { opacity: 0; top: 130px;}
    to { opacity: 100%; top: -40px;}
}

h1 {
    animation-name: text;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.logo, .plus {
    animation-name: opacity;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;

}
.cards:nth-child(1) {
    animation-name: opacity;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
    
}
.cards:nth-child(2) {
    animation-name: opacity;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    
}
.cards:nth-child(3) {
    animation-name: opacity;
    animation-duration: 13s;
    animation-timing-function: ease-in-out;
    
}
.cards:nth-child(4) {
    animation-name: opacity;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    
}
button {
    animation-name: opacity;
    animation-duration: 18s;
    animation-timing-function: ease-in-out;
    
}