@charset "utf-8";
// scss document

* {
    &::after, &::before {
        margin: 0;
        padding: 0;
    }
    box-sizing: border-box;
}
h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: palevioletred;
    &::after, &::before {
        content: '♥';
        width: 5px;
        height: 5px;
    }
}
.wrapper {
    margin: 10px auto;
    width: 50%;
    label, input {
        display: block;
        margin: 0 auto;
        color: palevioletred;
        border-radius: 10px;
    }
    label {
        text-align: center;
        text-transform: capitalize;
    }
    input {
        position: relative;
        outline: none;
        border: 1px solid pink;
        width: 130px;
        &::placeholder {
            color: pink;
            padding-left: 10px;
        }
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        //display: none;
    }
    p {
        color: pink;
        text-align: center;
        margin-top: 10px;
    }
}