@charset "UTF-8";
/* scss document */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &::before, &::after {
        padding: 0;
        margin: 0; 
    }
}
::selection {
    background: #fff;
    color: cornflowerblue;
}
h1 {
    text-align: center;
}
body {
    background: #ffcb83;
}
.wrapper {
    width: 100%;
    background: #eedec1;
    padding-top: 20px;
    .logo {
        width: 100%;
        margin: 20px 0;
        padding-left: 10px;
        .img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #fff;
            float: left;
            position: relative;
            span {
                text-transform: capitalize;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 30px;
                color: red;
            }
        }
        ul {
            float: left;
            margin: 20px 20px;
            li {
                list-style-type: none;
                float: left;
                padding-right: 20px;
            }
            a {
                text-decoration: none;
            }
        }
    }
}
nav {
    width: 25%;
    height: 72vh;
    float: left;
    background: #ecbf6b;
    ul {
        padding: 50px;
    }
    ul li {
        list-style: upper-roman;
        padding-bottom: 10px;
        a {
            text-decoration: none;
            color: #fff;
        }
    }
}
.wrapper::after, footer::after, .center::after, .info::after, .logo::after {
    content: '';
    display: table;
    clear: both;
}
article {
    width: 74%;
    float: right;
    margin: 0 auto;
    .info {
        width: 100%;
        margin: 0 auto;
        .blocks {
            float: left;
            width: calc(100% / 4 - 20px);
            margin: 20px 20px 0 0;
            padding: 20px 0;
            background: #ecebea;
            border-radius: 10px;
            .season, .gradi, .city {
                padding-bottom: 5px;
            }
            .season {
                font-size: 20px;
                padding-left: 10px;
            }
            .season:after {
                content: '▼';
                display: block;
                position: relative;
                top: -18px;
                left: 200px;
                font-size: 15px;
                color: gray;
                cursor: pointer;    
            }
            .temperature {
                font-size: 25px;
                text-align: center;
            }
            .gradi span {
                display: block;
                font-size: 15px;
                text-align: center;
                color: #a7a7a7;
            }
            .city {
                margin-top: 10px;
                text-align: center;
            }
        }
    }
    .info .blocks:nth-child(1) .temperature{
        color: rgb(132, 7, 190);
    }
    .info .blocks:nth-child(2) .temperature{
        color: rgb(44, 190, 7);
    }
    .info .blocks:nth-child(3) .temperature{
        color: rgb(253, 133, 133);
    }
    .info .blocks:nth-child(4) .temperature{
        color: rgb(133, 141, 253);
    }
    .text {
        width: 100%;
        p {
            width: 80%;
            text-align: justify;
            margin: 10px 0;
            color: #fff;
            padding-top: 20px;
            span {
                display: block;
                font-size: 25px;
                text-transform: capitalize;
                margin-bottom: 10px;
            }
        }
    }
}

footer {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: #96763c;
    color: #fff;
    .center {
        width: 90%;
        margin: 0 auto;
    }
    .content {
        float: left;
        width: calc(100% / 4);
        padding-right: 20px;
    }
    
    .content:before {
        content: '';
        display: block;
        width: 2px;
        height: 15px;
        background: #fff;
        position: relative;
        top: 18px;
        left: -5px;
    }
}