@charset "UTF-8";
/* scss document */

/* general custom */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &::before, &::after {
        padding: 0;
        margin: 0;
    }
}
/* color codes */
:root {
    --white: #fff;
    --black: #000;
    --background: #F3F3F3; // body background
    --green: #106410;
    --shadow: rgba( 0, 0, 0, .4);
    --light_green: #008000;
    --gray: #b8b8b8;
    --blue: #0000ff;
}

/* mixin */
@mixin float {
    float: left;
}
/* start custom website */
.clearfix {
    content: '';
    display: table;
    clear: both;
}

body {
    background: var(--background);
}
/* bg image */
.wrapper {
    width: 100%;
    padding: 20px 0;
}
/* first contain top */
header {
    width: 100%;
    .lazio {
        width: 100%;
        margin-bottom: 5px;
        padding-left: 15px;
        .logo {
            @include float;
            margin-right: 10px;
            border-right: 1px solid black;
            padding-right: 10px;
            /* logo sanità regionale... */
            img {
                width: 44px;
                height: auto;
            }
            .text_img {
                float: right;
                margin-left: 10px;
                position: relative;
                top: -10px;
                span:nth-child(1) {
                    display: inline-block;
                    font-size: 30px;
                    color: var(--blue);
                }
                span:nth-child(2) {
                    display: block;
                    position: relative;
                    color: var(--blue);
                    font-size: 13px;
                }
            }
        }
        .prenota {
            @include float;
            margin-top: 2px;
            font-size: 25px;
            color: var(--light_green);
        }
    }
    /* navigation bar */
    nav {
        background: var(--green);
        padding: 30px;
        li {
            list-style-type: none;
            display: inline;
            margin-right: 10px;
            
        }
        li:after {
            display: inline-block;
            content: '';
            width: 1px;
            height: 20px;
            background: var(--white);
            position: relative;
            top: 5px;
            left: 7px;
        }
        li:nth-child(3):after, li:last-child:after {
            display: none;
        }
        
        a {
            text-decoration: none;
            color: var(--white);
        }
        li:last-child {
            float: right;
        }
    }
    
}
/* first article contain card */
article {
    .image {
        .bg {
            width: 100%;
            height: 350px;
            background: {
                image: url('../img/dna.jpg');
                repeat: no-repeat;
                size: cover;
            }
            opacity: 80%;
        }
    }
    .main {
        width: 70%;
        margin: 0 auto;
        position: relative;
        top: -260px;
        h1 {
            font-size: 35px;
            color: var(--white);
            text-transform: capitalize;
        }
        > p {
            font-weight: 200;
            color: var(--white);
            font-size: 30px;
            margin-top: 10px;
        }
    }
    /* start card custom */
    .card_contain {
        width: 100%;
    }
    .card {
        width: calc(100% / 3 - 14px);
        margin-right: 20px;
        margin-top: 30px;
        float: left;
        border-radius: 10px;
        background: var(--white);
        box-shadow: 0 0 10px var(--shadow);
        cursor: pointer;
        .contain {
            margin: 20px 40px;
        }
        .title, .img_card {
            float: left;
        }
        .img_card {
            width: 60px;
            height: 60px;
            margin-right: 20px;
        }
        .title {
            margin-top: 10px;
            font-size: 20px;
            font-weight: bold;
            .sub_title {
                display: block;
            }
        }
        p {
            width: 90%;
            margin: 0 auto;
        }
        > span {
            display: block;
            width: 90%;
            margin: 40px auto 20px;
            color: var(--light_green);
            &::after {
                content: '➤';
                display: inline-block;
                position: relative;
                top: 2px;
                left: 8px;
                font-size: 16px;
                color: var(--light_green);
            }
        }
        &:nth-child(2) .title {
            margin-top: 0;
        }
        &:nth-child(3) .title {
            margin-top: 0;
        }
        &:nth-child(2) .img_card img {
            padding-top: 8px;
        }
        &:nth-child(3) {
            margin-right: 0;
        }
    }
    /* second contain spiegazione */
    .explain {
        width: 100%;
        margin-top: 40px;
        .option {
            text-transform: capitalize;
            padding: 20px;
            h2 {
                font-size: 30px;
                color: var(--light_green);
            }
            ul {
                padding: 10px 20px;
                li {
                    color: var(--green);
                    font-size: 16px;
                    list-style-type: none;
                    ul li {
                        color: var(--black);
                        &::before {
                            content: '';
                            display: inline-block;
                            width: 6px;
                            height: 2px;
                            background-color: var(--black);
                            position: relative;
                            top: -4px;
                            left: -3px;
                        }
                    }
                }
            }
            a {
                color: var(--light_green);
                font-size: 15px;
            }
            ::marker {
                color: var(--light_green);
            }
            &:nth-child(odd) {
                background-color: var(--white);
            }
        }
        .option:nth-child(2) {
            p {
                margin-top: 20px;
            }
        }
    }
}
/* custom img ultima card */
.card_contain {
    .card:nth-child(3) .img_card img {
        width: 40px;
    }
}

@media screen and (max-width: 768px) {
    .card_contain .card {
        display: block;
        width: 100%;
    }
}